<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title>Message the Agent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item >
    <ion-label position="stacked">Name</ion-label>
    <ion-input readonly type="text" >{{userList?.name}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input readonly type="email" >{{userList?.email}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contact Number</ion-label>
    <ion-input required maxlength="10" type="tel" [(ngModel)]="store.number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Message</ion-label>
    <ion-input required type="text" [(ngModel)]="store.message"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="message(store)">Send
    Message</ion-button>

</ion-content>