<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons slot="start">
    <ion-back-button ></ion-back-button>
  </ion-buttons>
  
    <br>
    <ion-card >
        <div class="container">
        <img   src="{{items.mainImage}}" >
        <div class="content" (click)="image(items)">
        <h1>View Gallery</h1>
      </div>
    </div>
      <ion-card-content>
          <ion-text color="primary">
              <h4>{{items.price}}</h4>
            </ion-text>
            <ion-text color="dark">
                <h4>{{items.description}}</h4>
              <ion-grid><ion-row>
                <ion-col>
            <h4> <ion-icon name="bed"></ion-icon>   {{items.bedrooms}}
               <ion-icon name="body"></ion-icon>  {{items.bathrooms}}
               <ion-icon name="car"></ion-icon> {{items.garage}} </h4>
            </ion-col>
        </ion-row></ion-grid>

  </ion-text>
</ion-card-content>
  </ion-card>

  <ion-card >
        
    <ion-card-content>
       
</ion-card-content>
</ion-card>
</ion-content>
