<ion-header no-border no-shadow id="my-ion-header" class="mystyle">
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <!-- <ion-title>Details</ion-title> -->

        <ion-buttons slot="end" class="action" class="like" (click)="react(propertyList.key, propertyList.userReaction)" [class.liked]="propertyList.userReaction != null">
            <ion-icon name="heart" class="ion-icons"></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end" (click)="share()">
            <ion-icon name="share"></ion-icon>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="myScroll($event)">

    <ion-card>

        <div class="container">
            <img src="{{propertyList.mainImage}}">
            <div class="bottom-right" (click)="view(1)">
                <i class="fa fa-picture-o" aria-hidden="true">
                    Pictures
                </i>
            </div>
        </div>
        <!-- <ion-slides pager [options]="slidesOptions ">
                <ion-slide>
                    <img src="{{propertyList.mainImage}}">
                </ion-slide>
                <ion-slide *ngFor="let pic of imageList; let i = index ">
                    <img src="{{pic.downloadURL}}" (click)="view(i)">
                </ion-slide>
            </ion-slides> -->

        <!-- <div class="content">
                <h1>View Gallery</h1>

                <div (click)="detail(items)">
                    <div>{{items?.price | currency:'R'}} {{items?.location}}</div>

                    <i class="fa fa-bed" aria-hidden="true">
                        <span class="pad-value">{{propertyList?.bedrooms}}</span>
                    </i>
                    <i class="fa fa-bath" aria-hidden="true">
                        <span class="pad-value"> {{propertyList?.bathrooms}}</span>
                    </i>
                    <i class="fa fa-car" aria-hidden="true">
                        <span class="pad-value"> {{propertyList?.garage}}</span>
                    </i>
                </div>
            </div> -->





        <ion-card-content>
            <!-- <ion-slides [options]="slidesOptions2 ">
                    <ion-slide *ngFor="let pic of imageList; let i = index ">
                        <ion-card class="cat">
                            <img src="{{pic.downloadURL}}" (click)="view(i)">
                        </ion-card>
                    </ion-slide>
                </ion-slides> -->
            <div>
                <p>{{propertyList?.price | currency:'R'}}</p>
                <p> {{propertyList?.location}}</p>

                <i class="fa fa-bed" aria-hidden="true" *ngIf="propertyList.bedrooms!=0">
                        <span class="pad-value">{{propertyList?.bedrooms}} Bed</span>
                    </i>
                <i class="fa fa-bath" aria-hidden="true" *ngIf="propertyList.bathrooms!=0">
                        <span class="pad-value"> {{propertyList?.bathrooms}} Bath</span>
                    </i>
                <i class="fa fa-car" aria-hidden="true" *ngIf="propertyList.garage!=0">
                        <span class="pad-value"> {{propertyList?.garage}} Garage</span>
                    </i>
            </div>


            <!-- <hr> -->


            <!-- <p>Description : {{propertyList?.description}}</p> -->

            <!-- <p>Type of Property : {{propertyList?.typeofproperty}}</p> -->
            <br>
            <ion-button expand="block" color="primary" (click)="repayments(propertyList)">Bond Calculator</ion-button>

        </ion-card-content>


    </ion-card>


    <ion-card>
        <ion-card-content class="textArea">
            <div class="ion-text-start">
                <ion-textarea readonly disabled='true'>
                    {{propertyList?.description}}
                </ion-textarea>
            </div>
        </ion-card-content>
    </ion-card>



    <ion-card>

        <ion-card-content>
            <b>Property Overview</b>
        </ion-card-content>

        <ion-list lines="none">
            <ion-item>
                <ion-note slot="end" color="primary">{{propertyList?.typeofproperty}}</ion-note>
                <ion-label>Type of Property</ion-label>
            </ion-item>
            <ion-item *ngIf="propertyList.kitchens!=0">
                <ion-note slot="end" color="primary">{{propertyList?.kitchens}}</ion-note>
                <ion-label>Kitchen</ion-label>
            </ion-item>
            <ion-item *ngIf="propertyList.garden!=0">
                <ion-note slot="end" color="primary">{{propertyList?.garden}}</ion-note>
                <ion-label>Garden</ion-label>
            </ion-item>
            <ion-item *ngIf="propertyList.diningroom!=0">
                <ion-note slot="end" color="primary">{{propertyList?.diningroom}}</ion-note>
                <ion-label>Dining Room</ion-label>
            </ion-item>
            <ion-item *ngIf="propertyList.pool!=0">
                <ion-note slot="end" color="primary">{{propertyList?.pool}}</ion-note>
                <ion-label>Pool</ion-label>
            </ion-item>
            <ion-item *ngIf="propertyList.lounges!=0">
                <ion-note slot="end" color="primary">{{propertyList?.lounges}}</ion-note>
                <ion-label>Lounge</ion-label>
            </ion-item>
        </ion-list>

    </ion-card>

    <ion-card #triggerElement>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-thumbnail slot="start">
                        <img src="{{profileData?.photoURL}}">
                    </ion-thumbnail>
                    <ion-label>
                        <h2>{{profileData?.name}}</h2>
                        <h3>{{profileData?.number}}</h3>
                        <p>{{profileData?.email}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


    <br>
    <br>
    <br>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="full" (click)="callAgent()">
                    <ion-icon name="call"></ion-icon>
                    &nbsp; Call
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" expand="full" (click)="messageModel()">
                    <ion-icon name="mail"></ion-icon>
                    &nbsp; Message
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>





<!-- 

<ion-content>

    <ion-card class="ion-no-padding">
        <div class="container">
            <img src="{{items.mainImage}}">
            <div class="content" (click)="image(items)">
                <h1>View Gallery</h1>
            </div>
        </div>
        <ion-card-content>
            <ion-text color="primary">
                <h4>{{items.price | currency:'R'}}</h4>
            </ion-text>
            <ion-text color="dark">
                <h4>{{items.description}}</h4>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h4>
                                <ion-icon name="bed"></ion-icon> {{items.bedrooms}}
                                <ion-icon name="body"></ion-icon> {{items.bathrooms}}
                                <ion-icon name="car"></ion-icon> {{items.garage}} </h4>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-text>
        </ion-card-content>
        <ion-slides  [options]="slidesOptions ">
            <ion-slide *ngFor="let pic of imageList  ">
                <ion-card class="cat">
                    <div (click)="detail(items)">
                        <img src="{{pic.downloadURL}}">
                        
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-card>
  
    <ion-card>

        <ion-card-content>

        </ion-card-content>
    </ion-card>







</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="full">
                    <ion-icon name="call"></ion-icon>
                    Call </ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary" expand="full">
                    <ion-icon name="mail"></ion-icon>
                    Email</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer> -->