ion-toolbar {
    --background: transparent;
    --background-color: transparent;
    --ion-color-base: transparent !important;
}

ion-buttons {
    ion-icon {
        font-size: 20px;
    }
}

ion-card {
    top: 0;
}

ion-content {
    top: 0;
    position: absolute;
}

ion-card-content {
    color: black;
    p {
        font-size: 5vw;
    }
    i {
        padding-right: 10px;
        font-size: 5vw;
        color: #a02b2d;
        .pad-value {
            color: black;
            padding-left: 5px;
        }
    }
}

img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

hr {
    background-color: gray;
    width: 100%;
}

ion-card {
    width: 100%;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    position: relative;
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
        background: #a02b2d;
        color: white;
        padding: 4px;
    }
}

.like {
    cursor: pointer;
    font-size: 20px;
    &.liked {
        font-weight: bold;
        color: #a02b2d;
    }
}

.no-transfrom {
    color: red;
}