ion-toolbar {
    --background: transparent;
    --background-color: transparent;
    --ion-color-base: transparent !important;
}

ion-buttons {
    ion-icon {
        font-size: 20px;
    }
}

// .container {
//     position: relative;
//     max-width: 800px;
//     margin: 0 auto;
//     ion-slides {
//         height: 100%;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }
ion-card {
    top: 0;
}

ion-content {
    top: 0;
    position: absolute;
}

// .container .content {
//   position: absolute;
//   bottom: 0;
//   background: rgba(77, 76, 76, 0.6);
//   color: #e2e0e0;
//   width: 100%;
//   padding-left: 7px;
//   font-size: 18px;
// }
.cat {
    width: 120px;
    background-size: cover;
    margin: 5px;
    img {
        height: 90px;
    }
}

i {
    padding-right: 10px;
    font-size: 5vw;
    color: #a02b2d;
    .pad-value {
        color: black;
        padding-left: 5px;
    }
}

ion-card-content {
    color: black;
    p {
        font-size: 5vw;
    }
}

img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// ion-card {
//   img {
//     background-size: auto 100%;
//     background-repeat: no-repeat;
//     background-position: center;
//   }
// }
hr {
    background-color: gray;
    width: 100%;
}

ion-card {
    width: 100%;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    position: relative;
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
        background: rgba(77, 76, 76, 0.6);
        color: white;
    }
}