<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title align="center">Featured</ion-title>
        <ion-buttons slot="end" (click)="fliter()">
            <ion-icon name="options"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar (ionInput)="filterList($event)" placeholder="location"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="row">
        <div class="column" *ngFor="let items of propertyList">

            <ion-card class="card">
                <img src="{{items.mainImage}}" style="width:100%" (click)="detail(items)">

                <ion-card-content>
                    <div class="action" class="like" (click)="react(items.key, items.userReaction)" [class.liked]="items.userReaction != null">
                        <ion-icon class="ion-float-right" name="heart"></ion-icon>
                    </div>
                    <div (click)="detail(items)">
                        <p>{{items.price | currency:'R'}}</p>
                        <p>{{items.location}}</p>
                        <div>
                            <i class="fa fa-bed" aria-hidden="true">
                                        <span class="pad-value">{{items.bedrooms}}</span>
                                    </i>
                            <i class="fa fa-bath" aria-hidden="true">
                                        <span class="pad-value"> {{items.bathrooms}}</span>
                                    </i>
                            <i class="fa fa-car" aria-hidden="true">
                                        <span class="pad-value">  {{items.garage}}</span>
                                    </i>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>