<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>images</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div zoom="true" maxZoom="20" style='width: 100%; height: 100%;'> -->

    <ion-grid>

        <ion-row>
            <ion-col size="6" class="gallery-lightboxes" *ngFor="let pic of imageList ">

                <a data-lightbox="imge" href="../imge/close.png" href="../imge/next.png" href="../imge/prev.png" href="{{pic.downloadURL}}" href="../imge/loading.gif" sliderViewer>

                    <img src="{{pic.downloadURL}}" style='width: 100%; height: 100%;' size="100%" accept=".png,.jpg" imageViewer>
                    <!-- <div class="gallery-lightbox"> -->
                    <!-- <div class="gallery-lightbox_content"> -->
                    <!-- <a href="#" class="close"></a> -->
                    <!-- </div>
                    </div> -->
                </a>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>