img {
    margin: 0 auto;
    transition: all 1s;
    justify-content: center;
}

img:hover {
    transform: scale(1.1);
}

.mygallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.gallery-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    // background: black;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-lightbox_content {
    width: 75%;
    padding: 1em;
    position: relative;
}

.close {
    position: absolute;
    widows: 1em;
    height: 1em;
    background: red;
    top: -1em;
    right: -1em;
    // text-decoration: none;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.close::after {
    content: 'x';
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}