<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>images</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <div zoom="true" maxZoom="20" style='width: 100%; height: 100%;'> -->

    <ion-grid>

        <ion-row>
            <ion-col size="6" class="gallery-lightboxes" *ngFor="let pic of imageList">

                <img src="{{pic.downloadURL}}" style='width: 100%; height: 100%;' size="100%" accept=".png,.jpg" imageViewer onclick="document.getElementById('id01').style.display='block'">

            </ion-col>
        </ion-row>

    </ion-grid>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <br><br>
                <ion-slides>
                    <ion-slide *ngFor="let pic of imageList;let i index">

                        <a class="w3-button w3-black w3-display-left">&#10094;</a>
                        <img src="{{pic.downloadURL}}" style='width: 100%; height: 100%;' size="100%" accept=".png,.jpg">
                        <a class="w3-button w3-black w3-display-right">&#10095;</a>

                    </ion-slide>
                </ion-slides>
                <br><br>
            </div>
        </div>
    </div>
</ion-content>