<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-title>map</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div #map id="map"></div>
    <div id='geocoder' class='geocoder'></div>


    <div class="bot">
        <ion-slides [options]="slidesOpt">
            <ion-slide *ngFor="let details of propertyList;let i = index">

                <ion-grid>
                    <ion-card class="cat">

                        <ion-row>
                            <ion-col>
                                <img src="{{details.mainImage}}" (click)="detail(details)">
                            </ion-col>
                            <ion-col>
                                <ion-card-content>
                                    <div class="action" class="like" (click)="react(details.key, details.userReaction)" [class.liked]="details.userReaction != null">
                                        <ion-icon class="ion-float-right" name="heart"></ion-icon>
                                    </div>
                                    <div (click)="detail(details)">
                                        <p>{{details.price | currency:'R'}}</p>
                                        <p>{{details.location | slice:0:12}}...</p>

                                        <i class="fa fa-bed" aria-hidden="true" *ngIf="details.bedrooms!=0">
                                            <span class="pad-value">{{details.bedrooms}}</span>
                                        </i>
                                        <i class="fa fa-bath" aria-hidden="true" *ngIf="details.bathrooms!=0">
                                            <span class="pad-value"> {{details.bathrooms}}</span>
                                        </i>
                                        <i class="fa fa-car" aria-hidden="true" *ngIf="details.garage!=0"> 
                                            <span class="pad-value">  {{details.garage}}</span>
                                        </i>

                                    </div>
                                </ion-card-content>
                            </ion-col>
                        </ion-row>


                    </ion-card>
                </ion-grid>


            </ion-slide>



        </ion-slides>

        <ion-card class="NotFound" *ngIf="propertyList?.length == 0 ">

            <ion-row>

                <ion-col>
                    <ion-card-content>
                        <p class="centerT">
                            There are currently no properties found at <span class="color">" {{value}} "</span> try a different location
                        </p>

                    </ion-card-content>
                </ion-col>
            </ion-row>


        </ion-card>
    </div>
</ion-content>