<ion-content class="bgp">
    <div class="mmm">
        <!-- <ion-row>
            <ion-col text-center> -->
        <br>
        <div id="logo" text-center>
            <img src="../../../assets/img/darker_logo.png" alt="Avatar" class="imgC" width="280" height="130">
        </div>
        <br><br><br>
        <form [formGroup]="loginForm" *ngIf="isForgotPassword" class="ff">
            <div text-center>

                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                    &nbsp;&nbsp;&nbsp; <b>Please input your email</b>
                </div>
                <div class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                    &nbsp;&nbsp;&nbsp;<b>Email address invalid</b>
                </div>
                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input color="medium" type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                    &nbsp;&nbsp;&nbsp;<b>Please input your password</b>
                </div>
                <div class="error" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                    &nbsp;&nbsp;&nbsp; <b>Minimum 6 characters</b>
                </div>
                <div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                    &nbsp;&nbsp;&nbsp; <b>Maximum 12 characters</b>
                </div>
                <br>
                <ion-button expand="block" color="primary" (click)="login()">login</ion-button>
                <p> <a (click)="isForgotPassword = false">Forgot Password?</a></p>
                <p> <a (click)="registerPage()">Sign Up</a></p>
            </div>
        </form>



        <form class="ff" [formGroup]="forgotpasswordForm" *ngIf="!isForgotPassword">
            <ion-item color="transparent" class="group">
                <ion-label position="floating">Enter Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
                &nbsp;&nbsp;&nbsp;<b> Please input your email</b>
            </div>
            <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('pattern') && forgotpasswordForm.get('email').touched">
                &nbsp;&nbsp;&nbsp; <b>Email address invalid</b>
            </div>
            <br>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" color="primary" (click)="isForgotPassword = true">Cancel</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" color="primary" (click)="reset()">Reset</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </form>
        <!-- </ion-col>
        </ion-row> -->

    </div>
</ion-content>