#logo {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    width: 100%;
    img {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
}

.error {
    color: rgba(214, 6, 6, 0.945);
    text-align: left;
}

.bgp {
    --background: url('../../../assets/img/Capture.PNG')0 0/120% 110% no-repeat rgba(65, 64, 64, 0.11);
}

.mmm {
    position: relative;
    // -webkit-text-fill-color: aliceblue;
    background-color: rgba(0, 0, 0, 0.507);
    height: 100%;
}

ion-label {
    -webkit-text-fill-color: aliceblue;
}

a {
    -webkit-text-fill-color: aliceblue;
}

p {
    -webkit-text-fill-color: rgb(182, 175, 175);
}

ion-item {
    color: #fcf8f8;
}

.ff {
    background-color: rgba(0, 0, 0, 0.623);
}