<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>POPULAR</ion-title>
        <ion-buttons slot="end" (click)="fliter()">
            <ion-icon name="options"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <!-- <ion-toolbar color="primary">
        <ion-searchbar (ionInput)="filterList($event)" placeholder="location"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>

<ion-content>

    <ion-grid style="height: 100%" *ngIf="data == true && show==true && propertyList?.length >0">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column; text-align: center;">
            <p class="centerT">
                There are currently no properties found at "{{SeachLocation}}" try a different location
            </p>
        </ion-row>
    </ion-grid>
    <ion-grid style="height: 100%" *ngIf="data == true && !(propertyList?.length >0) ">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column; text-align: center;">

            <p class="centerT">
                Please reduce your filter in order to see the property
            </p>
        </ion-row>
    </ion-grid>

    <div class="row" *ngIf="data == true">

        <!-- <div *ngIf="show==true && propertyList.length >0">
            <ion-card class="warning-card">
                <ion-card-content>
                    There are currently no properties found at "{{SeachLocation}}" try a different location
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngIf=" !(propertyList.length >0) ">
            <ion-card class="warning-card">
                <ion-card-content>
                    Please reduce your filter in order to see the property
                </ion-card-content>
            </ion-card>
        </div> -->

        <div class="column" *ngFor="let items of propertyList  | propertyFilterPipe:{ property: 'reactionCount', descending: true }  |  categoryFilterPipe: SeachLocation">
            <!-- <div class="column" *ngFor="let items of propertyList  | categoryFilterPipe: SeachLocation"> -->
            {{this.hide(2)}}
            <ion-card class="card">
                <img src="{{items.mainImage}}" style="width:100%" (click)="detail(items)">

                <ion-card-content>
                    <div class="action" class="like" (click)="react(items.key, items.userReaction)" [class.liked]="items.userReaction != null">
                        <ion-icon class="ion-float-right" name="heart"></ion-icon>
                    </div>
                    <div (click)="detail(items)">
                        <p>{{items.price | currency:'R'}}</p>
                        <p>{{items.location}}</p>
                        <div>
                            <i class="fa fa-bed" aria-hidden="true">
                                          <span class="pad-value">{{items.bedrooms}}</span>
                                      </i>
                            <i class="fa fa-bath" aria-hidden="true">
                                          <span class="pad-value"> {{items.bathrooms}}</span>
                                      </i>
                            <i class="fa fa-car" aria-hidden="true">
                                          <span class="pad-value">  {{items.garage}}</span>
                                      </i>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>