* {
    box-sizing: border-box;
}

ion-header {
    --background: #A02B2D;
}

ion-buttons {
    // padding-left: 2px;
    padding-right: 2px;
    font-size: 25px !important;
}

.column {
    float: left;
    width: 25%;
}

// .sc-ion-card-ios-h {
//     margin-bottom: 6px;
// }
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1650px) {
    .column {
        float: left;
        width: 33.33%;
    }
}

@media screen and (max-width: 1150px) {
    .column {
        float: left;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        float: left;
        width: 100%;
    }
}

ion-card {
    // border-radius: 10px;
    img {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
    }
}

ion-card-content {
    color: black;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

i {
    padding-right: 10px;
    .pad-value {
        padding-left: 5px;
    }
}

.action {
    ion-icon {
        font-size: 20px;
    }
}

.like {
    cursor: pointer;
    font-size: 20px;
    &.liked {
        font-weight: bold;
        color: #A02B2D;
    }
}

.color {
    color: #A02B2D;
}

.location {
    padding: 0 !important;
    margin: 0 !important;
}

.centerT {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}