<!-- <ion-header>
    <ion-toolbar color="primary">
      
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-item class="close-fake" lines="none" text-center>
        <ion-button (click)="close()" fill="clear" color="Light">
            <ion-icon name="close" slot="start"></ion-icon>
            Back
        </ion-button>

        <ion-button (click)="zoom(true)" fill="clear" color="Light">
            <ion-icon name="add" slot="start"></ion-icon>
            In
        </ion-button>

        <ion-button (click)="zoom(false)" fill="clear" color="Light">
            <ion-icon name="remove" slot="start"></ion-icon>
            Out
        </ion-button>

    </ion-item>

    <ion-slides [options]="sliderOpts" #slider>
        <ion-slide>
            <div class="swiper-zoom-container" class="ion-padding">
                <img src="{{pic.downloadURL}}">
            </div>
        </ion-slide>

        <ion-slide *ngFor="let pic of imageList" class="ion-padding">
            <div class="swiper-zoom-container">
                <!-- <a class="w3-button w3-black w3-display-left">&#10094;</a> -->
                <img src="{{pic.downloadURL}}" style='width: 100%; ' size="100%" accept=".png,.jpg">
                <!-- <a class="w3-button w3-black w3-display-right">&#10095;</a> -->
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>