.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    // margin-top: 40px;
}
// ion-toolbar {
//     --background: transparent;
//     --background-color: transparent;
//     --ion-color-base: transparent !important;
// }
:host{
    ion-content {
        --background: rgba(44, 39, 45, 0.084);
        top: 0;
        position: absolute;
    }
  
}

ion-slides {
    height: 100%;
}