.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    // margin-top: 40px;
}

// ion-toolbar {
//     --background: transparent;
//     --background-color: transparent;
//     --ion-color-base: transparent !important;
// }
:host {
    ion-content {
        --background: rgba(58, 53, 59, 0.315);
        top: 0;
        position: absolute;
    }
}

ion-slides {
    height: 100%;
}