<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title align="center">Bond Calculator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-item>
        <ion-label position="stacked">Purchase Price</ion-label>
        <ion-input [(ngModel)]="p">R</ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label position="stacked">Interest rate</ion-label>
        <ion-input [(ngModel)]="i"></ion-input>
    </ion-item>
  
  
    <ion-item>
        <ion-label position="stacked">Years to repay</ion-label>
    <ion-select [(ngModel)]="t">
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="20">20</ion-select-option>
        <ion-select-option value="30">30</ion-select-option>
    </ion-select>
    </ion-item>
    
    <ion-item>
        <ion-label position="stacked">Deposit</ion-label>
    <ion-input [(ngModel)]="deposit"></ion-input>
    </ion-item>
    
   

   <div class="ion-padding">
    <ion-button expand="block"  class="ion-no-margin" (click)="calculate()" onclick="document.getElementById('id01').style.display='block'">
        Calculate
    </ion-button>
  </div>
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <h3> <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
                </h3>

                <h4> Your monthly repayments</h4>
                <h4>
                    <ion-label>
                        R{{M|number : '1.0-0'}}
                    </ion-label>
                </h4>

                <h4> Total amount repayable</h4>

                <h4>
                    <ion-label>
                        R{{total|number : '1.0-0'}}
                    </ion-label>
                </h4>
                <br>
            </div>
        </div>
    </div>



</ion-content>