<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>

        <ion-title align="center">Bond Calculator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="bondCalulatorForm">
        <br>
        <ion-item>
            <ion-label position="stacked">Purchase Price</ion-label>
            <ion-input formControlName="p" [(ngModel)]="p" required>R {{propertyList?.price}}</ion-input>
        </ion-item>

        <div class="error" *ngIf="bondCalulatorForm.get('p').hasError('required') && bondCalulatorForm.get('p').touched">
            This field is required
        </div>
        <ion-item>
            <ion-label position="stacked">Interest rate</ion-label>
            <ion-input type='number' formControlName="i" [(ngModel)]="i" placeholder="20.5%" required></ion-input>
        </ion-item>
        <div class="error" *ngIf="bondCalulatorForm.get('i').hasError('required') && bondCalulatorForm.get('i').touched">
            This field is required
        </div>

        <ion-item>
            <ion-label position="stacked">Years to repay</ion-label>
            <ion-select formControlName="t" [(ngModel)]="t" placeholder="e.g 20" required>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
                <ion-select-option value="20">20</ion-select-option>
                <ion-select-option value="30">30</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="error" *ngIf="bondCalulatorForm.get('t').hasError('required') && bondCalulatorForm.get('t').touched">
            This field is required
        </div>
        <!-- <form [formGroup]="calculator"> -->
        <ion-item>
            <ion-label position="stacked">Deposit</ion-label>
            <ion-input type='number' formControlName="deposit" [(ngModel)]="deposit">R &nbsp;</ion-input>
        </ion-item>
        <!-- <div class="error" *ngIf="calculator.get('deposit').hasError('minlength') && calculator.get('deposit').touched">
                Minimum 1 characters
            </div>
            <div class="error" *ngIf="calculator.get('deposit').hasError('maxlength') && calculator.get('deposit').touched">
                Maximum 10 characters
            </div>
        </form> -->

        <div class="ion-padding">
            <ion-button expand="block" class="ion-no-margin" [disabled]="!bondCalulatorForm.valid" (click)="calculate()" onclick="document.getElementById('id01').style.display='block'">
                Calculate
            </ion-button>
        </div>
    </form>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <h2> <span float-right onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
                </h2>
                <br>
                <div align="center">
                    <h5> Your monthly repayments</h5>
                    <h3>
                        <ion-label>
                            R {{M|number : '1.0-0'}}
                        </ion-label>
                    </h3>

                    <h5> Total amount repayable</h5>

                    <h3>
                        <ion-label>
                            R {{total|number : '1.0-0'}}
                        </ion-label>
                    </h3>
                </div>
                <br>
            </div>
        </div>
    </div>



</ion-content>