.images {
    display: block;
    margin: 0 auto;
    text-align: center
}

img {
    margin: 0 auto;
    justify-content: center;
    display: block;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}