/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.custom-loader {
    --background: transparent;
    .loading-wrapper {
        -webkit-animation: ld-vortex-out 2s ease-out infinite;
        animation: ld-vortex-out 2s ease-out infinite;
        animation-timing-function: cubic-bezier(0.05, 0, 3, 0.05);
        // background-image:  url("/assets/img/baubap-logo-circle.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-width: 90px;
        min-height: 90px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.mapboxgl-ctrl-top-right {
    position: fixed;
    top: 10px;
    max-width: 90%;
    min-width: 90%;
    margin-left: 0;
    margin-right: 2%;
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 20px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.textArea textarea {
    height: 0px !important;
    display: none !important;
}