* {
    box-sizing: border-box;
}

ion-header {
    --background: #a02b2d;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1650px) {
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        float: left;
        width: 100%;
        padding: 10px;
    }
}

ion-card {
    // border-radius: 10px;
    img {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
    }
}

ion-card-content {
    color: black;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

i {
    padding-right: 10px;
    .pad-value {
        padding-left: 5px;
    }
}

.action {
    ion-icon {
        font-size: 20px;
    }
}

.like {
    cursor: pointer;
    font-size: 20px;
    &.liked {
        font-weight: bold;
        color: #a02b2d;
    }
}

// .warning-card {
//     height: 336px !important;
// }
.centerT {
    width: 70%;
    text-align: center !important;
}

.color {
    color: #a02b2d;
}