<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="end" (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
        <p slot="start">Property</p>
        <ion-icon name="arrow-forward" slot="end"> </ion-icon>
    </ion-item>

    <ion-slides [options]="slidesOptions">
        <ion-slide>
            <ion-card class="cat">
                <img src="https://images.prop24.com/224161361/Crop525x350" />
                <ion-card-subtitle>Destination</ion-card-subtitle>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="cat">
                <img src="https://images.prop24.com/218548631/Crop526x328" />
                <ion-card-subtitle>Destination</ion-card-subtitle>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="cat">
                <img src="https://images.prop24.com/224161361/Crop525x350" />
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="cat">
                <img src="https://images.prop24.com/224161361/Crop525x350" />
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="cat">
                <img src="https://images.prop24.com/224161361/Crop525x350" />
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="cat">
                <img src="https://images.prop24.com/224161361/Crop525x350" />
            </ion-card>
        </ion-slide>
    </ion-slides>

</ion-content>