.cat {
    width: 140px;
    height: 100px;
    background-size: cover;
    margin: 5px;	
}
.catt {
    width: 270px;
    height: 280px;
    background-size: cover;
    margin: 5px;	
   text-align: start;

}
h6{
    color:gray;
}