ion-title {
    text-align: center;
}

.cat {
    width: 140px;
    margin: 5px;
    text-align: start;
    --color: black;
    p {
        font-size: 13px;
    }
    img {
        // background-size: auto 100%;
        // background-repeat: no-repeat;
        width: 100% !important;
        height: 90px;
    }
    i {
        font-size: 13px;
        padding-right: 6px;
        .pad-value {
            padding-left: 3px;
        }
    }
    .like {
        cursor: pointer;
        font-size: 18px;
        &.liked {
            font-weight: bold;
            color: #a02b2d;
        }
    }
}

ion-card-content {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.catt {
    width: 290px;
    height: 270px;
    margin: 5px;
    text-align: start;
    color: black;
    img {
        width: 100% !important;
        height: 170px;
    }
    .like {
        cursor: pointer;
        font-size: 20px;
        &.liked {
            font-weight: bold;
            color: #a02b2d;
        }
    }
}

i {
    padding-right: 10px;
    .pad-value {
        padding-left: 5px;
    }
}

@media screen and (max-width: 321px) {
    .cat {
        p {
            font-size: 9px;
        }
        i {
            font-size: 9px;
            padding-right: 6px;
            .pad-value {
                padding-left: 3px;
            }
        }
    }
}