<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="end" (click)=" fliter()">
            <ion-icon name="options"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item lines="none">
        <p slot="start">Sale</p>
        <h6 slot="end" color="medium">see all</h6>
        <ion-icon name="arrow-forward" color="medium" slot="end"></ion-icon>
    </ion-item>

    <ion-slides [options]="slidesOpt">
        <ion-slide *ngFor="let items of propertyList">
            <ion-card class="catt">
                <div (click)="detail(items)">
                    <img src="{{items.mainImage}}">
                    <ion-card-content slot="start">
                        <ion-text color="primary">
                            <h4>{{items.price}}</h4>
                        </ion-text>
                        <ion-text color="dark">
                            <h4>{{items.description}}</h4>
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <h4>
                                            <ion-icon name="bed"></ion-icon> {{items.bedrooms}}
                                            <ion-icon name="body"></ion-icon> {{items.bathrooms}}
                                            <ion-icon name="car"></ion-icon> {{items.garage}} </h4>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </ion-text>
                    </ion-card-content>
                </div>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-item lines="none">
        <p slot="start">Show</p>
        <h6 slot="end" color="medium">see all</h6>
        <ion-icon name="arrow-forward" color="medium" slot="end"></ion-icon>
    </ion-item>

    <ion-slides [options]="slidesOpt">

        <ion-slide *ngFor="let items of propertyList">

            <ion-card class="catt">
                <div (click)="detail(items)">
                    <img src="{{items.mainImage}}">
                    <ion-card-content slot="start">
                        <ion-text color="primary">
                            <h4>{{items.price}}</h4>
                        </ion-text>
                        <ion-text color="dark">
                            <h4>{{items.description}}</h4>
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <h4>
                                            <ion-icon name="bed"></ion-icon> {{items.bedrooms}}
                                            <ion-icon name="body"></ion-icon> {{items.bathrooms}}
                                            <ion-icon name="car"></ion-icon> {{items.garage}} </h4>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </ion-text>
                    </ion-card-content>
                </div>
            </ion-card>
        </ion-slide>

    </ion-slides>
</ion-content>