<ion-header no-border>
    <ion-toolbar>
        <ion-buttons (click)="cancel()" slot="start">
            Cancel
        </ion-buttons>
        <!-- <ion-title>filter</ion-title> -->
        <!-- <ion-buttons (click)="done()" slot="end"> -->
        <ion-button color="primary" slot="end">Done</ion-button>
        <!-- </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-searchbar></ion-searchbar>

    <ion-item lines="none">
        <ion-label>Price</ion-label>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col size="5">


                <ion-select>
                    <ion-select-option value="100000">R100 000</ion-select-option>
                    <ion-select-option value="150000">R150 000</ion-select-option>
                    <ion-select-option value="200000">R200 000</ion-select-option>
                    <ion-select-option value="250000">R250 000</ion-select-option>
                    <ion-select-option value="300000">R300 000</ion-select-option>
                    <ion-select-option value="350000">R350 000</ion-select-option>
                    <ion-select-option value="400000">R400 000</ion-select-option>
                    <ion-select-option value="450000">R450 000</ion-select-option>
                    <ion-select-option value="500000">R500 000</ion-select-option>
                    <ion-select-option value="600000">R600 000</ion-select-option>
                    <ion-select-option value="700000">R700 000</ion-select-option>
                    <ion-select-option value="800000">R800 000</ion-select-option>
                    <ion-select-option value="900000">R900 000</ion-select-option>
                    <ion-select-option value="1000000">R1 000 000</ion-select-option>
                    <ion-select-option value="1500000">R1 500 000</ion-select-option>
                    <ion-select-option value="2000000">R2 000 000</ion-select-option>
                    <ion-select-option value="2500000">R2 500 000</ion-select-option>
                    <ion-select-option value="3000000">R3 000 000</ion-select-option>
                    <ion-select-option value="3500000">R3 500 000</ion-select-option>
                    <ion-select-option value="4000000">R4 000 000</ion-select-option>
                    <ion-select-option value="4500000">R4 500 000</ion-select-option>
                    <ion-select-option value="5000000">R5 000 000</ion-select-option>
                    <ion-select-option value="6000000">R6 000 000</ion-select-option>
                    <ion-select-option value="7000000">R7 000 000</ion-select-option>
                    <ion-select-option value="8000000">R8 000 000</ion-select-option>
                    <ion-select-option value="9000000">R9 000 000</ion-select-option>
                    <ion-select-option value="10000000">R10 000 000</ion-select-option>
                    <ion-select-option value="15000000">R15 000 000</ion-select-option>
                </ion-select>
                <hr width="100%" color="dark">
                <p style="text-align: center;">min</p>

            </ion-col>
            <ion-col size="2">
                <ion-item lines="none">
                    To
                </ion-item>
            </ion-col>
            <ion-col size="5">
                <ion-select>
                    <ion-select-option value="100000">R100 000</ion-select-option>
                    <ion-select-option value="150000">R150 000</ion-select-option>
                    <ion-select-option value="200000">R200 000</ion-select-option>
                    <ion-select-option value="250000">R250 000</ion-select-option>
                    <ion-select-option value="300000">R300 000</ion-select-option>
                    <ion-select-option value="350000">R350 000</ion-select-option>
                    <ion-select-option value="400000">R400 000</ion-select-option>
                    <ion-select-option value="450000">R450 000</ion-select-option>
                    <ion-select-option value="500000">R500 000</ion-select-option>
                    <ion-select-option value="600000">R600 000</ion-select-option>
                    <ion-select-option value="700000">R700 000</ion-select-option>
                    <ion-select-option value="800000">R800 000</ion-select-option>
                    <ion-select-option value="900000">R900 000</ion-select-option>
                    <ion-select-option value="1000000">R1 000 000</ion-select-option>
                    <ion-select-option value="1500000">R1 500 000</ion-select-option>
                    <ion-select-option value="2000000">R2 000 000</ion-select-option>
                    <ion-select-option value="2500000">R2 500 000</ion-select-option>
                    <ion-select-option value="3000000">R3 000 000</ion-select-option>
                    <ion-select-option value="3500000">R3 500 000</ion-select-option>
                    <ion-select-option value="4000000">R4 000 000</ion-select-option>
                    <ion-select-option value="4500000">R4 500 000</ion-select-option>
                    <ion-select-option value="5000000">R5 000 000</ion-select-option>
                    <ion-select-option value="6000000">R6 000 000</ion-select-option>
                    <ion-select-option value="7000000">R7 000 000</ion-select-option>
                    <ion-select-option value="8000000">R8 000 000</ion-select-option>
                    <ion-select-option value="9000000">R9 000 000</ion-select-option>
                    <ion-select-option value="10000000">R10 000 000</ion-select-option>
                    <ion-select-option value="15000000">R15 000 000</ion-select-option>
                </ion-select>
                <hr width="100%" color="dark">
                <p style="text-align: center;">max</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item lines="none">
        <ion-label>BEDROOMS</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-button shape="round" (click)="BedButton($event,1)" value="1">Any</ion-button>
        <ion-button shape="round" (click)="BedButton($event,1)" value="1">1+</ion-button>
        <ion-button shape="round" (click)="BedButton($event,2)" value="2">2+</ion-button>
        <ion-button shape="round" (click)="BedButton($event,3)" value="3">3+</ion-button>
        <ion-button shape="round" (click)="BedButton($event,4)" value="4">4+</ion-button>
        <ion-button shape="round" (click)="BedButton($event,5)" value="5">5+</ion-button>
    </ion-item>

    <ion-item lines="none">
        <ion-label>BATHROOMS</ion-label>
    </ion-item>

    <ion-item lines="none">
        <ion-button shape="round" (click)="BathButton($event,1)" value="1">Any</ion-button>
        <ion-button shape="round" (click)="BathButton($event,1)" value="1">1+</ion-button>
        <ion-button shape="round" (click)="BathButton($event,2)" value="2">2+</ion-button>
        <ion-button shape="round" (click)="BathButton($event,3)" value="3">3+</ion-button>
        <ion-button shape="round" (click)="BathButton($event,4)" value="4">4+</ion-button>
    </ion-item>

    <ion-item lines="none">
        <ion-label>GARAGES</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-button shape="round" (click)="GARAGEButton($event,1)" value="1">Any</ion-button>
        <ion-button shape="round" (click)="GARAGEButton($event,1)" value="1">1+</ion-button>
        <ion-button shape="round" (click)="GARAGEButton($event,2)" value="2">2+</ion-button>
        <ion-button shape="round" (click)="GARAGEButton($event,3)" value="3">3+</ion-button>
        <ion-button shape="round" (click)="GARAGEButton($event,4)" value="4">4+</ion-button>
    </ion-item>
</ion-content>