ion-toolber {
    --background: transparent !important;
}

ion-item {
    ion-button {
        padding-right: 10px;
        width: 50px;
        height: 50px;
        // --background: white !important;
    }
}

// ion-button.active {
//     color: red;
//     --background: red;
// }
ion-button.active {
    // background-color: blue;
    --background: #3880ff !important;
    --color: white !important;
    --color-activated: #ffffff !important;
}

:host {
    ion-item {
        ion-button {
            --background-activated: #ffffff;
            --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        ion-button {
            --background: #ffffff;
            --background-focused: #ffffff;
            // --background-hover: #ffffff --color: #ffffff;
            --color-activated: #ffffff;
            --color: black;
            --color-focused: #ffffff;
        }
    }
}