<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="CallNumber">
    <param name="ios-package" value="CFCallNumber"/>
  </feature>

  <feature name="Contacts">
    <param name="ios-package" value="CDVContacts"/>
  </feature>

  <feature name="EmailComposer">
    <param name="ios-package" value="APPEmailComposer"/>
  </feature>

  <feature name="FullScreenImage">
    <param name="ios-package" value="FullScreenImage"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  
</widget>